<div class=" label">
  <div>
    <select class="form-control" id="sel1" [(ngModel)]="selectedLang">
      <option *ngFor="let lang of languages" >{{ lang }}</option>
    </select>
  </div>
  <div>
    <h3>Talk With ME !</h3>
  </div>
  <div>
    <mt-speech (messageCallback)="chat.onSubmit($event)" (speakCallback)="chat.speak($event.text, $event.lang)"></mt-speech>
  </div>
</div>
<div class="container">
  <div>
  <mt-chat #chat (queryCallback)="sendQuery($event)" class="flex-center" [selectedLang]="selectedLang" [message]="message"></mt-chat>
  </div>
</div>
