<section role="main" class="container">
  <div class="col-md-12">
    <h1>The application made with support:</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="http://www.cleverbot.com/" target="_blank"><img src="assets/images/about/cleverbot.png" class="img-responsive center-block"/></a>
      <p>Cleverbot is a chatterbot web application that uses an artificial intelligence (AI) algorithm to have conversations with humans.
        It was created by British AI scientist Rollo Carpenter. It was preceded by Jabberwacky,
        a chatbot project that began in 1988 and went online in 1997. In its first decade,
        Cleverbot held several thousand conversations with Carpenter and his associates. </p>
    </div>

    <div class="col-md-4">
      <a href="https://responsivevoice.org/" target="_blank"><img src="assets/images/about/responsive-voice.png" class="img-responsive center-block"/></a>
      <p>ResponsiveVoice is a HTML5-based Text-To-Speech library designed to add voice features to web sites and apps across all smartphone,
        tablet and desktop devices. It supports 51 languages through 168 voices, no dependencies and weighs just 14kb </p>
    </div>

    <div class="col-md-4">
      <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API" target="_blank">
        <img src="assets/images/about/web-speech.jpg" class="img-responsive center-block"/>
      </a>
      <p>The Web Speech API enables you to incorporate voice data into web apps. The Web Speech API has two parts: SpeechSynthesis
        (Text-to-Speech), and SpeechRecognition (Asynchronous Speech Recognition.) </p>
    </div>
  </div>
</section>

