<ol class="chat">
  <li *ngFor="let message of messages" [ngClass]="{'self': message.isUser, 'other': message.isUser }">
    <div class="avatar" *ngIf="!message.isUser"><img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Robot-512.png" draggable="false"/></div>
    <div class="avatar" *ngIf="message.isUser"><img src="https://cdn1.iconfinder.com/data/icons/unique-round-blue/93/user-512.png" draggable="false"/></div>
    <div class="msg">
      <p>{{ message.text }}</p>
      <time>{{ message.date | date: 'hh:mm:ss' }}</time>
    </div>
  </li>
</ol>
<form #f="ngForm"
      (ngSubmit)="onSubmit(f.value)">
<input class="textarea" id="queryInput"
       placeholder="Ask me anything !"
       name="query" [(ngModel)]="query"  autocomplete="off">
  <!--<button type="submit" class="ui button" [disabled]="waitForResponse">Send</button>-->
</form>
