.mic-icon {
    display: inline-block;
    width: 100%;
    min-width: 29px;
    max-height: 35px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.mic-div {
    padding: 0 10px 0 0;
    margin: 0;
}
.pulse {
    animation: microphone .9s ease infinite alternate;
}

@keyframes microphone {
    from {
        fill: currentColor;
    }
    to {
        -webkit-filter: blur(0.5px)drop-shadow( -0px 0px 20px #ff001b );
        filter: blur(0.5px)drop-shadow( 0px 0px 20px #ff001b );
        fill: #ff001b;
    }
}